/*

    Name:       material
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme)

*/

.chrome-tab-material{ background-color: #384047 !important;border-color: #161E21 !important }
.chrome-tab-current-material{ background-color: #263238 !important;border-color:#161714 !important}
.chrome-tabs-shell-material{ background-color: #20272B !important }
.chrome-shell-bottom-bar-material{ background-color: #263238 !important}
.addTabButton-material{
  background-color: #263238 !important;
  border-color: #161E21 !important;
}

.fa-times-material{ color: #2E353B !important }
.fa-times-current-material{ color: #262C30 !important }
.footer-material{background-color: #212B30 !important;border-color:#1E2429 !important}
.tab-content-material{ background-color: #1E1F1A !important;}
.gutter-material{ background-color: #1E2429 !important; }
.fileSystem-material{ background-color: #212B30 !important; }
.jstree-container-ul-material{ background-color: transparent !important; }




.cm-s-material {
  background-color: #263238;
  color: rgba(233, 237, 237, 1);
}
.cm-s-material .CodeMirror-gutters {
  background: #263238;
  color: rgb(83,127,126);
  border: none;
}
.cm-s-material .CodeMirror-guttermarker, .cm-s-material .CodeMirror-guttermarker-subtle, .cm-s-material .CodeMirror-linenumber { color: rgb(83,127,126); }
.cm-s-material .CodeMirror-cursor { border-left: 1px solid #528bff; }
.cm-s-material div.CodeMirror-selected { background: rgba(255, 255, 255, 0.15); }
.cm-s-material.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-material .CodeMirror-line::selection, .cm-s-material .CodeMirror-line > span::selection, .cm-s-material .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-material .CodeMirror-line::-moz-selection, .cm-s-material .CodeMirror-line > span::-moz-selection, .cm-s-material .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }

.cm-s-material .CodeMirror-activeline-background { background: rgba(255,255, 255, 0.05); }
.cm-s-material .cm-keyword { color: #AE5DCC; }
.cm-s-material .cm-operator { color: rgba(233, 237, 237, 1); }
.cm-s-material .cm-variable-2 { color: rgba(255, 83, 112, 1); }
.cm-s-material .cm-variable-3 { color: #82B1FF; }
.cm-s-material .cm-builtin { color: #DECB6B; }
.cm-s-material .cm-atom { color: #70E1E8; }
.cm-s-material .cm-number { color: #F77669; }
.cm-s-material .cm-def { color: rgba(233, 237, 237, 1); }
.cm-s-material .cm-string { color: #A4D677; }
.cm-s-material .cm-string-2 { color: #80CBC4; }
.cm-s-material .cm-comment { color: #546E7A; }
.cm-s-material .cm-variable { color: rgba(255, 83, 112, 1); }
.cm-s-material .cm-tag { color: #80CBC4; }
.cm-s-material .cm-meta { color: #80CBC4; }
.cm-s-material .cm-attribute { color: #FFCB6B; }
.cm-s-material .cm-property { color: #82B1FF; }
.cm-s-material .cm-qualifier { color: #D6AC5C; }
.cm-s-material .cm-variable-3 { color: #DECB6B; }
.cm-s-material .cm-tag { color: rgba(255, 83, 112, 1); }
.cm-s-material .cm-error {
  color: rgba(255, 255, 255, 1);
  background-color: #EC5F67;
}
.cm-s-material .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #528bff !important;
}
